
\restrict hosOEPhHm8aEjVlpWohmLA7l2jyp1NCo9dngPBwmx7FniNrjE87mivMl4QNofon


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."calculate_priority_score"("p_property_id" character varying, "p_days_since_last_scrape" integer, "p_volatility_score" integer, "p_success_rate" numeric, "p_scrape_attempts" integer) RETURNS integer
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    base_score INTEGER := 50;
    time_score INTEGER;
    volatility_component INTEGER;
    reliability_score INTEGER;
BEGIN
    -- Time-based scoring (more days = higher priority)
    time_score := LEAST(p_days_since_last_scrape * 5, 30);

    -- Volatility-based scoring (scale 0-100 -> 0-30)
    volatility_component := (p_volatility_score * 30 / 100)::int;

    -- Reliability-based scoring (higher success rate -> slightly lower priority)
    reliability_score := CASE 
        WHEN p_success_rate > 0.9 THEN -10 
        WHEN p_success_rate > 0.7 THEN 0
        ELSE 10 
    END;

    -- Attempt-based penalty (too many failures -> lower priority)
    IF p_scrape_attempts > 3 AND p_success_rate < 0.5 THEN
        reliability_score := reliability_score - 20;
    END IF;

    RETURN base_score + time_score + volatility_component + reliability_score;
END;
$$;


ALTER FUNCTION "public"."calculate_priority_score"("p_property_id" character varying, "p_days_since_last_scrape" integer, "p_volatility_score" integer, "p_success_rate" numeric, "p_scrape_attempts" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."export_user_data"("p_user_id" "uuid", "p_export_type" "text" DEFAULT 'all'::"text") RETURNS "jsonb"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    user_record RECORD;
    result JSONB;
BEGIN
    SELECT * INTO user_record FROM users WHERE id = p_user_id;
    
    IF NOT FOUND THEN
        RETURN jsonb_build_object('error', 'User not found');
    END IF;
    
    result := jsonb_build_object(
        'user_info', jsonb_build_object(
            'id', user_record.id,
            'email', user_record.email,
            'full_name', user_record.full_name,
            'phone', user_record.phone,
            'created_at', user_record.created_at
        )
    );
    
    RETURN result;
END;
$$;


ALTER FUNCTION "public"."export_user_data"("p_user_id" "uuid", "p_export_type" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_next_scraping_batch"("batch_size" integer DEFAULT 50) RETURNS TABLE("queue_id" bigint, "external_id" character varying, "url" character varying, "source" character varying, "priority_score" integer, "ai_model" "text")
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    RETURN QUERY
    WITH candidates AS (
      SELECT q.id
      FROM public.scraping_queue q
      WHERE q.status = 'pending'
      ORDER BY public.calculate_priority_score(
        q.property_id,
        COALESCE(FLOOR(EXTRACT(epoch FROM (NOW() - q.last_successful_scrape))/86400)::int, 99),
        COALESCE((SELECT sp.volatility_score FROM public.scraped_properties sp WHERE sp.external_id = q.external_id), 50),
        COALESCE(q.success_rate, 1.0),
        COALESCE(q.scrape_attempts, 0)
      ) DESC, q.created_at ASC
      LIMIT batch_size
    ), locked AS (
      SELECT id FROM candidates FOR UPDATE SKIP LOCKED
    )
    UPDATE public.scraping_queue sq
    SET status = 'processing', started_at = NOW(), scrape_attempts = COALESCE(sq.scrape_attempts,0) + 1
    FROM locked
    WHERE sq.id = locked.id
    RETURNING sq.id, sq.external_id, sq.url, sq.source, sq.priority_score,
      CASE 
        WHEN sq.priority_score >= 70 THEN 'gpt-4-turbo-preview'
        WHEN sq.priority_score >= 40 THEN 'gpt-3.5-turbo-16k'
        ELSE 'gpt-3.5-turbo'
      END;
END;
$$;


ALTER FUNCTION "public"."get_next_scraping_batch"("batch_size" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."has_property_changed"("old_data" "jsonb", "new_data" "jsonb", "significant_fields" "text"[]) RETURNS boolean
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  fld text;
  old_val text;
  new_val text;
  path_parts text[];
  tmp jsonb;
BEGIN
  IF significant_fields IS NULL OR array_length(significant_fields,1) = 0 THEN
    RETURN FALSE;
  END IF;

  FOREACH fld IN ARRAY significant_fields LOOP
    -- support dot-separated paths for nested JSON
    IF position('.' in fld) > 0 THEN
      path_parts := string_to_array(fld, '.');
      tmp := old_data;
      FOREACH fld IN ARRAY path_parts LOOP
        IF tmp IS NULL THEN
          tmp := NULL;
          EXIT;
        END IF;
        tmp := tmp -> fld;
      END LOOP;
      old_val := case when tmp is null then null else tmp::text end;

      tmp := new_data;
      FOREACH fld IN ARRAY path_parts LOOP
        IF tmp IS NULL THEN
          tmp := NULL;
          EXIT;
        END IF;
        tmp := tmp -> fld;
      END LOOP;
      new_val := case when tmp is null then null else tmp::text end;
    ELSE
      old_val := old_data ->> fld;
      new_val := new_data ->> fld;
    END IF;

    -- normalize explicit 'null' and empty string to NULL for comparison
    IF old_val = 'null' OR old_val = '' THEN
      old_val := NULL;
    END IF;
    IF new_val = 'null' OR new_val = '' THEN
      new_val := NULL;
    END IF;

    IF old_val IS DISTINCT FROM new_val THEN
      RETURN TRUE;
    END IF;
  END LOOP;

  RETURN FALSE;
END;
$$;


ALTER FUNCTION "public"."has_property_changed"("old_data" "jsonb", "new_data" "jsonb", "significant_fields" "text"[]) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."has_property_changed_default"("old_data" "jsonb", "new_data" "jsonb") RETURNS boolean
    LANGUAGE "sql"
    AS $$
  SELECT public.has_property_changed(old_data, new_data, array['current_price','status','listing_url','bedrooms','bathrooms','square_feet','name','address']);
$$;


ALTER FUNCTION "public"."has_property_changed_default"("old_data" "jsonb", "new_data" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."price_history_record_change"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
    BEGIN
      IF TG_OP = 'INSERT' THEN
        INSERT INTO public.price_history (external_id, price, change_type)
        VALUES (NEW.external_id, NEW.current_price, 'initial');
        RETURN NEW;
      ELSIF TG_OP = 'UPDATE' THEN
        IF NEW.current_price IS DISTINCT FROM OLD.current_price THEN
          INSERT INTO public.price_history (external_id, price, change_type)
          VALUES (
            NEW.external_id,
            NEW.current_price,
            CASE
              WHEN OLD.current_price IS NULL THEN 'initial'
              WHEN NEW.current_price > OLD.current_price THEN 'increased'
              WHEN NEW.current_price < OLD.current_price THEN 'decreased'
              ELSE 'unchanged'
            END
          );
        END IF;
        RETURN NEW;
      END IF;
      RETURN NULL;
    END;
    $$;


ALTER FUNCTION "public"."price_history_record_change"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."rpc_bulk_upsert_properties"("p_rows" "jsonb") RETURNS "jsonb"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $_$
declare
  rec jsonb;
  ext_id text;
  v_old_price integer;
  v_new_price integer;
  v_change_type text;
  result jsonb := '[]'::jsonb;
begin
  -- Expect p_rows to be a JSON array
  if jsonb_typeof(p_rows) <> 'array' then
    raise exception 'rpc_bulk_upsert_properties expects a JSON array';
  end if;

  for rec in select * from jsonb_array_elements(p_rows) loop
    -- compute external id
    ext_id := (rec ->> 'property_id') || '_' || (rec ->> 'unit_number');

    -- get current price with lock to avoid races per row
    select current_price into v_old_price
    from public.scraped_properties
    where external_id = ext_id
    for update;

    -- upsert using INSERT ... ON CONFLICT
    -- We'll try to insert and if conflict on external_id then update selected fields
    execute format($f$
      INSERT INTO public.scraped_properties (
        property_id, unit_number, unit, name, address, source, city, state, current_price, bedrooms, bathrooms, square_feet, listing_url, first_seen_at, last_seen_at, created_at, updated_at
      ) VALUES (%L, %L, %L, %L, %L, %L, %L, %L, %s, %s, %s, %s, %L, now(), now(), now(), now())
      ON CONFLICT (external_id) DO UPDATE
      SET current_price = EXCLUDED.current_price,
          last_seen_at = now(),
          updated_at = now(),
          listing_url = EXCLUDED.listing_url,
          bedrooms = EXCLUDED.bedrooms,
          bathrooms = EXCLUDED.bathrooms,
          name = EXCLUDED.name,
          address = EXCLUDED.address,
          source = EXCLUDED.source
      RETURNING id, current_price
    $f$,
    rec ->> 'property_id',
    rec ->> 'unit_number',
    rec ->> 'unit',
    rec ->> 'name',
    rec ->> 'address',
    rec ->> 'source',
    rec ->> 'city',
    rec ->> 'state',
    coalesce((rec ->> 'current_price')::text,'null'),
    coalesce((rec ->> 'bedrooms')::text,'null'),
    coalesce((rec ->> 'bathrooms')::text,'null'),
    coalesce((rec ->> 'square_feet')::text,'null'),
    rec ->> 'listing_url'
    ) into rec;

    -- rec now holds the returned id and current_price from RETURNING
    v_new_price := (rec ->> 'current_price')::int;

    -- Compare and insert price_history if changed and both are non-null
    if v_old_price is not null and v_new_price is not null and v_new_price <> v_old_price then
      v_change_type := case when v_new_price > v_old_price then 'increased' else 'decreased' end;
      insert into public.price_history (external_id, price, change_type) values (ext_id, v_new_price, v_change_type);
    end if;

    -- append to result: external_id and id
    result := result || jsonb_build_array(jsonb_build_object('external_id', ext_id, 'id', rec ->> 'id'));
  end loop;

  return result;
end;
$_$;


ALTER FUNCTION "public"."rpc_bulk_upsert_properties"("p_rows" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."rpc_bulk_upsert_properties_v2"("p_rows" "jsonb") RETURNS "jsonb"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  rec jsonb;
  r record;
  new_price int;
  now_ts timestamptz := now();
  inserted_count int := 0;
BEGIN
  FOR rec IN SELECT * FROM jsonb_array_elements(p_rows)
  LOOP
    -- Expect keys: property_id, unit_number, unit, name, address, source, city, state,
    -- current_price, bedrooms, bathrooms, square_feet, listing_url,
    -- amenities, free_rent_concessions, application_fee, admin_fee_waived, admin_fee_amount,
    -- security_deposit, ai_price, effective_price, latitude, longitude, zip_code, ai_provider, ai_raw

    INSERT INTO public.scraped_properties (
      property_id, unit_number, unit, name, address, source, city, state,
      current_price, bedrooms, bathrooms, square_feet, listing_url,
      amenities, free_rent_concessions, application_fee, admin_fee_waived, admin_fee_amount, security_deposit,
      ai_price, effective_price, latitude, longitude, zip_code, ai_provider, ai_raw, created_at, updated_at
    )
    VALUES (
  (rec->>'property_id')::text,
  (rec->>'unit_number')::text,
  (rec->>'unit')::text,
  (rec->>'name')::text,
  (rec->>'address')::text,
  (rec->>'source')::text,
  (rec->>'city')::text,
  (rec->>'state')::text,
      CASE WHEN (rec->>'current_price') IS NULL THEN NULL ELSE ((rec->>'current_price')::int) END,
      CASE WHEN (rec->>'bedrooms') IS NULL THEN NULL ELSE (rec->>'bedrooms')::int END,
      CASE WHEN (rec->>'bathrooms') IS NULL THEN NULL ELSE (rec->>'bathrooms')::numeric END,
      CASE WHEN (rec->>'square_feet') IS NULL THEN NULL ELSE (rec->>'square_feet')::int END,
      (rec->>'listing_url')::text,
      CASE WHEN rec ? 'amenities' THEN rec->'amenities' ELSE NULL END,
      (rec->>'free_rent_concessions')::text,
      CASE WHEN (rec->>'application_fee') IS NULL OR trim(rec->>'application_fee') = '' THEN NULL ELSE (rec->>'application_fee')::int END,
      CASE WHEN (rec->>'admin_fee_waived') IS NULL THEN NULL ELSE (rec->>'admin_fee_waived')::boolean END,
      CASE WHEN (rec->>'admin_fee_amount') IS NULL OR trim(rec->>'admin_fee_amount') = '' THEN NULL ELSE (rec->>'admin_fee_amount')::int END,
      CASE WHEN (rec->>'security_deposit') IS NULL OR trim(rec->>'security_deposit') = '' THEN NULL ELSE (rec->>'security_deposit')::int END,
      CASE WHEN (rec->>'ai_price') IS NULL OR trim(rec->>'ai_price') = '' THEN NULL ELSE (rec->>'ai_price')::int END,
      CASE WHEN (rec->>'effective_price') IS NULL OR trim(rec->>'effective_price') = '' THEN NULL ELSE (rec->>'effective_price')::int END,
      CASE WHEN (rec->>'latitude') IS NULL OR trim(rec->>'latitude') = '' THEN NULL ELSE (rec->>'latitude')::numeric END,
      CASE WHEN (rec->>'longitude') IS NULL OR trim(rec->>'longitude') = '' THEN NULL ELSE (rec->>'longitude')::numeric END,
      (rec->>'zip_code')::text,
      (rec->>'ai_provider')::text,
      CASE WHEN rec ? 'ai_raw' THEN rec->'ai_raw' ELSE NULL END,
      now_ts, now_ts
    )
  ON CONFLICT (property_id, unit_number) DO UPDATE SET
      name = EXCLUDED.name,
      address = EXCLUDED.address,
      current_price = EXCLUDED.current_price,
      bedrooms = EXCLUDED.bedrooms,
      bathrooms = EXCLUDED.bathrooms,
      square_feet = EXCLUDED.square_feet,
      listing_url = EXCLUDED.listing_url,
      amenities = COALESCE(EXCLUDED.amenities, public.scraped_properties.amenities),
      free_rent_concessions = COALESCE(EXCLUDED.free_rent_concessions, public.scraped_properties.free_rent_concessions),
      application_fee = COALESCE(EXCLUDED.application_fee, public.scraped_properties.application_fee),
      admin_fee_waived = COALESCE(EXCLUDED.admin_fee_waived, public.scraped_properties.admin_fee_waived),
      admin_fee_amount = COALESCE(EXCLUDED.admin_fee_amount, public.scraped_properties.admin_fee_amount),
      security_deposit = COALESCE(EXCLUDED.security_deposit, public.scraped_properties.security_deposit),
      ai_price = COALESCE(EXCLUDED.ai_price, public.scraped_properties.ai_price),
      effective_price = COALESCE(EXCLUDED.effective_price, public.scraped_properties.effective_price),
      latitude = COALESCE(EXCLUDED.latitude, public.scraped_properties.latitude),
      longitude = COALESCE(EXCLUDED.longitude, public.scraped_properties.longitude),
      zip_code = COALESCE(EXCLUDED.zip_code, public.scraped_properties.zip_code),
      ai_provider = COALESCE(EXCLUDED.ai_provider, public.scraped_properties.ai_provider),
      ai_raw = COALESCE(EXCLUDED.ai_raw, public.scraped_properties.ai_raw),
      updated_at = now_ts;

    -- Insert into price_history if price changed. Use canonical external_id from the table (may be generated).
    SELECT external_id, current_price INTO r FROM public.scraped_properties WHERE property_id = (rec->>'property_id') AND unit_number = (rec->>'unit_number');
    IF FOUND THEN
      new_price := CASE WHEN (rec->>'current_price') IS NULL OR trim(rec->>'current_price') = '' THEN NULL ELSE (rec->>'current_price')::int END;
      IF r.current_price IS DISTINCT FROM new_price THEN
        INSERT INTO public.price_history (external_id, price, recorded_at)
        VALUES (r.external_id, new_price, now_ts);
      END IF;
    END IF;

    inserted_count := inserted_count + 1;
  END LOOP;

  RETURN jsonb_build_object('ok', true, 'inserted', inserted_count);
END;
$$;


ALTER FUNCTION "public"."rpc_bulk_upsert_properties_v2"("p_rows" "jsonb") OWNER TO "postgres";


COMMENT ON FUNCTION "public"."rpc_bulk_upsert_properties_v2"("p_rows" "jsonb") IS 'v2: bulk upsert with extended fields and ai provenance metadata';



CREATE OR REPLACE FUNCTION "public"."rpc_compute_percentile"("p_external_id" "text") RETURNS integer
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  p_zip TEXT;
  p_price NUMERIC;
  pct NUMERIC;
BEGIN
  SELECT zip_code, current_price INTO p_zip, p_price FROM public.scraped_properties WHERE external_id = p_external_id LIMIT 1;
  IF p_zip IS NULL OR p_price IS NULL THEN
    RETURN NULL;
  END IF;

  SELECT roundup * 100 INTO pct FROM (
    SELECT (rank() OVER (ORDER BY current_price) - 1)::float / NULLIF(count(*) OVER (),0) AS frac
    FROM public.scraped_properties
    WHERE zip_code = p_zip AND current_price IS NOT NULL
  ) t LIMIT 1;

  -- Fallback: compute percentile via count if window failed
  IF pct IS NULL THEN
    RETURN NULL;
  END IF;

  RETURN CAST(ROUND(pct * 100) AS INTEGER);
END;
$$;


ALTER FUNCTION "public"."rpc_compute_percentile"("p_external_id" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."rpc_inc_scraping_costs"("p_date" "date", "p_properties_scraped" integer DEFAULT 0, "p_ai_requests" integer DEFAULT 0, "p_tokens_used" bigint DEFAULT 0, "p_estimated_cost" numeric DEFAULT 0, "p_details" "jsonb" DEFAULT '{}'::"jsonb") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  INSERT INTO public.scraping_costs (date, properties_scraped, ai_requests, tokens_used, estimated_cost, details, created_at)
  VALUES (p_date, p_properties_scraped, p_ai_requests, p_tokens_used, p_estimated_cost, p_details, now())
  ON CONFLICT (date) DO UPDATE
  SET
    properties_scraped = public.scraping_costs.properties_scraped + EXCLUDED.properties_scraped,
    ai_requests = public.scraping_costs.ai_requests + EXCLUDED.ai_requests,
    tokens_used = public.scraping_costs.tokens_used + EXCLUDED.tokens_used,
    estimated_cost = public.scraping_costs.estimated_cost + EXCLUDED.estimated_cost,
    details = jsonb_set(coalesce(public.scraping_costs.details, '{}'::jsonb), '{last_update}', to_jsonb(now()) );
END;
$$;


ALTER FUNCTION "public"."rpc_inc_scraping_costs"("p_date" "date", "p_properties_scraped" integer, "p_ai_requests" integer, "p_tokens_used" bigint, "p_estimated_cost" numeric, "p_details" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."rpc_merge_apartments_to_scraped_v1"("p_rows" "jsonb") RETURNS "jsonb"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  rec jsonb;
  r public.scraped_properties%ROWTYPE;
  now_ts timestamptz := now();
  processed int := 0;
  new_amenities jsonb;
  apt_amen jsonb;
  scr_amen jsonb;
  merged_amen jsonb;
BEGIN
  FOR rec IN SELECT * FROM jsonb_array_elements(p_rows)
  LOOP
    -- Normalize amenity fields to jsonb arrays if present
    apt_amen := CASE WHEN (rec ? 'amenities') THEN (CASE WHEN jsonb_typeof(rec->'amenities') = 'array' THEN rec->'amenities' ELSE to_jsonb(array[rec->>'amenities']) END) ELSE NULL END;

    -- Try to locate existing scraped_properties row by external_id or property_id+unit_number
    r := NULL;
    IF (rec ? 'external_id') THEN
      BEGIN
        SELECT * INTO r FROM public.scraped_properties WHERE external_id = rec->>'external_id' LIMIT 1;
      EXCEPTION WHEN others THEN
        r := NULL;
      END;
    END IF;

    IF r IS NULL THEN
      BEGIN
        SELECT * INTO r FROM public.scraped_properties WHERE property_id = rec->>'property_id' AND unit_number = rec->>'unit_number' LIMIT 1;
      EXCEPTION WHEN others THEN
        r := NULL;
      END;
    END IF;

    -- Build provenance object for this merge
    -- provenance contains source='apartments', timestamp, and a snapshot of incoming apartment fields
    IF rec IS NULL THEN
      CONTINUE;
    END IF;

    IF r IS NULL THEN
      -- Insert a new scraped_properties row based on apartment
      INSERT INTO public.scraped_properties (
        property_id, unit_number, unit, name, address, source, city, state,
        current_price, bedrooms, bathrooms, square_feet, listing_url,
        amenities, free_rent_concessions, application_fee, admin_fee_waived, admin_fee_amount, security_deposit,
        ai_price, effective_price, latitude, longitude, zip_code, ai_provider, ai_raw, ai_provenance, created_at, updated_at
      )
      VALUES (
        (rec->>'property_id')::text,
        (rec->>'unit_number')::text,
        (rec->>'unit')::text,
        (rec->>'title')::text,
        (rec->>'address')::text,
        (rec->>'source')::text,
        (rec->>'city')::text,
        (rec->>'state')::text,
        CASE WHEN (rec->>'rent_price') IS NULL THEN NULL ELSE (rec->>'rent_price')::int END,
        CASE WHEN (rec->>'bedrooms') IS NULL THEN NULL ELSE (rec->>'bedrooms')::int END,
        CASE WHEN (rec->>'bathrooms') IS NULL THEN NULL ELSE (rec->>'bathrooms')::numeric END,
        NULL,
        apt_amen,
        (rec->>'free_rent_concessions')::text,
        CASE WHEN (rec->>'application_fee') IS NULL OR trim(rec->>'application_fee') = '' THEN NULL ELSE (rec->>'application_fee')::int END,
        NULL,
        CASE WHEN (rec->>'admin_fee_amount') IS NULL OR trim(rec->>'admin_fee_amount') = '' THEN NULL ELSE (rec->>'admin_fee_amount')::int END,
        CASE WHEN (rec->>'security_deposit') IS NULL OR trim(rec->>'security_deposit') = '' THEN NULL ELSE (rec->>'security_deposit')::int END,
        CASE WHEN (rec->>'rent_price') IS NULL OR trim(rec->>'rent_price') = '' THEN NULL ELSE (rec->>'rent_price')::int END,
        CASE WHEN (rec->>'rent_price') IS NULL OR trim(rec->>'rent_price') = '' THEN NULL ELSE (rec->>'rent_price')::int END,
        CASE WHEN (rec->>'latitude') IS NULL OR trim(rec->>'latitude') = '' THEN NULL ELSE (rec->>'latitude')::numeric END,
        CASE WHEN (rec->>'longitude') IS NULL OR trim(rec->>'longitude') = '' THEN NULL ELSE (rec->>'longitude')::numeric END,
        (rec->>'zip_code')::text,
        (rec->>'ai_provider')::text,
        CASE WHEN rec ? 'ai_raw' THEN rec->'ai_raw' ELSE NULL END,
        jsonb_build_object('source','apartments','at', now_ts, 'apartment', rec),
        now_ts, now_ts
      ) RETURNING * INTO r;

      -- Optionally add price_history entry
      IF r.current_price IS NOT NULL THEN
        INSERT INTO public.price_history (external_id, price, recorded_at)
          VALUES (r.external_id, r.current_price, now_ts);
      END IF;

    ELSE
      -- Merge fields: prefer scraped values unless apartment has richer data for specific fields
      -- Name/address: keep scraped unless blank
      UPDATE public.scraped_properties SET
        name = COALESCE(NULLIF(public.scraped_properties.name,''), (rec->>'title')::text),
        address = COALESCE(NULLIF(public.scraped_properties.address,''), (rec->>'address')::text),
        ai_price = COALESCE((rec->>'rent_price')::int, public.scraped_properties.ai_price),
        effective_price = COALESCE((rec->>'rent_price')::int, public.scraped_properties.effective_price),
        ai_provider = COALESCE((rec->>'ai_provider')::text, public.scraped_properties.ai_provider),
        ai_raw = COALESCE(CASE WHEN rec ? 'ai_raw' THEN rec->'ai_raw' ELSE NULL END, public.scraped_properties.ai_raw),
        amenities = (
          CASE
            WHEN public.scraped_properties.amenities IS NULL AND apt_amen IS NOT NULL THEN apt_amen
            WHEN public.scraped_properties.amenities IS NOT NULL AND apt_amen IS NULL THEN public.scraped_properties.amenities
            WHEN public.scraped_properties.amenities IS NOT NULL AND apt_amen IS NOT NULL THEN (
              -- union arrays by concatenation then remove duplicates
              (SELECT jsonb_agg(DISTINCT elem) FROM (
                SELECT jsonb_array_elements_text(public.scraped_properties.amenities) AS elem
                UNION
                SELECT jsonb_array_elements_text(apt_amen) AS elem
              ) s)
            )
            ELSE public.scraped_properties.amenities
          END
        ),
        ai_provenance = jsonb_build_object('merged_from','apartments','at', now_ts, 'apartment', rec, 'previous_provenance', public.scraped_properties.ai_provenance),
        updated_at = now_ts
      WHERE id = r.id
      RETURNING * INTO r;

      -- If price changed (compare current_price to new effective/ai price), insert price_history
      INSERT INTO public.price_history (external_id, price, recorded_at)
      SELECT r.external_id, new_price, now_ts
      FROM (
        SELECT COALESCE((rec->>'rent_price')::int, r.effective_price, r.ai_price) AS new_price
      ) AS nv
      WHERE r.current_price IS DISTINCT FROM nv.new_price;
    END IF;

    processed := processed + 1;
  END LOOP;

  RETURN jsonb_build_object('ok', true, 'processed', processed);
END;
$$;


ALTER FUNCTION "public"."rpc_merge_apartments_to_scraped_v1"("p_rows" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."rpc_update_property_with_history"("p_external_id" "text", "p_payload" "jsonb") RETURNS TABLE("id" bigint)
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
declare
  v_current_price integer;
  v_new_price integer;
  v_change_type text;
begin
  -- Lock the target row to prevent races
  select current_price into v_current_price
  from public.scraped_properties
  where external_id = p_external_id
  for update;

  if not found then
    raise exception 'no scraped_properties row for external_id %', p_external_id;
  end if;

  -- Extract new price if provided in payload
  if (p_payload ? 'current_price') then
    v_new_price := (p_payload->>'current_price')::integer;
  else
    v_new_price := null;
  end if;

  -- Update commonly-updated fields if present in the JSON payload.
  -- Keep this list intentionally conservative to avoid SQL injection surface or schema mismatch.
  update public.scraped_properties
  set
    current_price = coalesce(v_new_price, current_price),
    name = coalesce(nullif(p_payload->>'name',''), name),
    address = coalesce(nullif(p_payload->>'address',''), address),
    unit = coalesce(nullif(p_payload->>'unit',''), unit),
    bedrooms = coalesce( (p_payload->>'bedrooms')::int, bedrooms),
    bathrooms = coalesce( (p_payload->>'bathrooms')::numeric, bathrooms),
    square_feet = coalesce( (p_payload->>'square_feet')::int, square_feet),
    status = coalesce(nullif(p_payload->>'status',''), status),
    listing_url = coalesce(nullif(p_payload->>'listing_url',''), listing_url),
    last_seen_at = now(),
    updated_at = now()
  where external_id = p_external_id
  returning id into id;

  -- Insert into price_history if the price changed (and both old & new prices are non-null)
  if v_new_price is not null and v_current_price is not null and v_new_price <> v_current_price then
    v_change_type := case when v_new_price > v_current_price then 'increased' else 'decreased' end;
    insert into public.price_history (external_id, price, change_type) values (p_external_id, v_new_price, v_change_type);
  end if;

  return;
end;
$$;


ALTER FUNCTION "public"."rpc_update_property_with_history"("p_external_id" "text", "p_payload" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."search_apartments"("p_city" character varying DEFAULT NULL::character varying, "p_state" character varying DEFAULT NULL::character varying, "p_rent_min" numeric DEFAULT NULL::numeric, "p_rent_max" numeric DEFAULT NULL::numeric, "p_bedrooms" integer[] DEFAULT NULL::integer[]) RETURNS TABLE("id" "uuid", "title" character varying, "address" "text", "city" character varying, "state" character varying, "bedrooms" integer, "bathrooms" numeric, "property_type" character varying, "rent_amount" numeric, "contact_email" character varying)
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        a.id, a.title, a.address, a.city, a.state, 
        a.bedrooms, a.bathrooms, a.property_type, 
        a.rent_amount, a.contact_email
    FROM apartments a
    WHERE 
        a.is_available = true
        AND (p_city IS NULL OR LOWER(a.city) = LOWER(p_city))
        AND (p_state IS NULL OR LOWER(a.state) = LOWER(p_state))
        AND (p_rent_min IS NULL OR a.rent_amount >= p_rent_min)
        AND (p_rent_max IS NULL OR a.rent_amount <= p_rent_max)
        AND (p_bedrooms IS NULL OR a.bedrooms = ANY(p_bedrooms))
    ORDER BY a.created_at DESC;
END;
$$;


ALTER FUNCTION "public"."search_apartments"("p_city" character varying, "p_state" character varying, "p_rent_min" numeric, "p_rent_max" numeric, "p_bedrooms" integer[]) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."search_properties_near_location"("lat" numeric, "lng" numeric, "radius_km" integer DEFAULT 10, "min_bedrooms" integer DEFAULT NULL::integer, "max_bedrooms" integer DEFAULT NULL::integer, "min_price" integer DEFAULT NULL::integer, "max_price" integer DEFAULT NULL::integer, "user_id_param" "uuid" DEFAULT NULL::"uuid") RETURNS TABLE("id" "uuid", "name" "text", "address" "text", "city" "text", "state" "text", "bedrooms" integer, "bathrooms" numeric, "sqft" integer, "original_price" integer, "ai_price" integer, "effective_price" integer, "distance_km" numeric, "match_score" integer, "market_velocity" "text", "availability_type" "text")
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        p.id,
        p.name,
        p.address,
        p.city,
        p.state,
        p.bedrooms,
        p.bathrooms,
        p.sqft,
        p.original_price,
        p.ai_price,
        p.effective_price,
        (6371 * acos(
            cos(radians(lat)) * cos(radians(p.latitude)) * 
            cos(radians(p.longitude) - radians(lng)) + 
            sin(radians(lat)) * sin(radians(p.latitude))
        ))::DECIMAL as distance_km,
        p.match_score,
        p.market_velocity,
        p.availability_type
    FROM public.properties p
    WHERE p.is_active = true
        AND p.latitude IS NOT NULL 
        AND p.longitude IS NOT NULL
        AND (min_bedrooms IS NULL OR p.bedrooms >= min_bedrooms)
        AND (max_bedrooms IS NULL OR p.bedrooms <= max_bedrooms)
        AND (min_price IS NULL OR p.effective_price >= min_price)
        AND (max_price IS NULL OR p.effective_price <= max_price)
        AND (6371 * acos(
            cos(radians(lat)) * cos(radians(p.latitude)) * 
            cos(radians(p.longitude) - radians(lng)) + 
            sin(radians(lat)) * sin(radians(p.latitude))
        )) <= radius_km
    ORDER BY 
        CASE WHEN user_id_param IS NOT NULL THEN p.match_score END DESC NULLS LAST,
        distance_km ASC;
END;
$$;


ALTER FUNCTION "public"."search_properties_near_location"("lat" numeric, "lng" numeric, "radius_km" integer, "min_bedrooms" integer, "max_bedrooms" integer, "min_price" integer, "max_price" integer, "user_id_param" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."touch_scraped_properties"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at := NOW();
  NEW.last_seen_at := NOW();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."touch_scraped_properties"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."transform_scraped_to_properties"() RETURNS integer
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    scraped_row RECORD;
    transformed_count INTEGER := 0;
    ai_price_calculated INTEGER;
    effective_price_calculated INTEGER;
BEGIN
    -- Transform scraped_properties to properties table
    FOR scraped_row IN 
        SELECT * FROM public.scraped_properties 
        WHERE updated_at > NOW() - INTERVAL '24 hours'
        OR external_id NOT IN (SELECT external_id FROM public.properties WHERE external_id IS NOT NULL)
    LOOP
        -- Calculate AI price (placeholder logic)
        ai_price_calculated := scraped_row.current_price;
        
        -- Calculate effective price
        effective_price_calculated := scraped_row.current_price;
        
        -- Insert or update property
        INSERT INTO public.properties (
            external_id,
            name,
            address,
            city,
            state,
            bedrooms,
            bathrooms,
            sqft,
            original_price,
            ai_price,
            effective_price,
            rent_per_sqft,
            availability,
            availability_type,
            source_url,
            last_scraped,
            created_at,
            updated_at
        ) VALUES (
            scraped_row.external_id,
            scraped_row.name,
            scraped_row.address,
            scraped_row.city,
            scraped_row.state,
            scraped_row.bedrooms,
            scraped_row.bathrooms,
            COALESCE(scraped_row.square_feet, 0),
            scraped_row.current_price,
            ai_price_calculated,
            effective_price_calculated,
            CASE 
                WHEN COALESCE(scraped_row.square_feet, 0) > 0 THEN effective_price_calculated::DECIMAL / scraped_row.square_feet
                ELSE NULL 
            END,
            scraped_row.status,
            CASE 
                WHEN scraped_row.status = 'active' THEN 'immediate'
                ELSE 'soon'
            END,
            scraped_row.listing_url,
            scraped_row.scraped_at,
            scraped_row.created_at,
            scraped_row.updated_at
        )
        ON CONFLICT (external_id) DO UPDATE SET
            name = EXCLUDED.name,
            address = EXCLUDED.address,
            city = EXCLUDED.city,
            state = EXCLUDED.state,
            bedrooms = EXCLUDED.bedrooms,
            bathrooms = EXCLUDED.bathrooms,
            sqft = EXCLUDED.sqft,
            original_price = EXCLUDED.original_price,
            ai_price = EXCLUDED.ai_price,
            effective_price = EXCLUDED.effective_price,
            rent_per_sqft = EXCLUDED.rent_per_sqft,
            availability = EXCLUDED.availability,
            availability_type = EXCLUDED.availability_type,
            last_scraped = EXCLUDED.last_scraped,
            updated_at = NOW();
        
        transformed_count := transformed_count + 1;
    END LOOP;
    
    RETURN transformed_count;
END;
$$;


ALTER FUNCTION "public"."transform_scraped_to_properties"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_days_on_market"() RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  -- Update days_on_market for active properties
  UPDATE public.scraped_properties
  SET days_on_market = FLOOR(EXTRACT(EPOCH FROM (NOW() - first_seen_at)) / 86400)
  WHERE status = 'active' AND first_seen_at IS NOT NULL;
END;
$$;


ALTER FUNCTION "public"."update_days_on_market"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_scraping_metrics"("p_external_id" character varying, "p_success" boolean, "p_duration" integer, "p_price_changed" boolean) RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    -- Update queue metrics
    UPDATE public.scraping_queue
    SET 
        last_successful_scrape = CASE WHEN p_success THEN NOW() ELSE last_successful_scrape END,
        success_rate = (
            (COALESCE(success_rate,1.0) * COALESCE(scrape_attempts,0) + CASE WHEN p_success THEN 1 ELSE 0 END)::DECIMAL
            / (COALESCE(scrape_attempts,0) + 1)
        ),
        avg_scrape_duration = COALESCE(
            (COALESCE(avg_scrape_duration,0) * COALESCE(scrape_attempts,0) + COALESCE(p_duration,0))::DECIMAL / (COALESCE(scrape_attempts,0) + 1),
            p_duration
        )
    WHERE external_id = p_external_id;
    
    -- Update property volatility if price changed
    IF p_price_changed THEN
        UPDATE public.scraped_properties 
        SET 
            price_change_count = COALESCE(price_change_count,0) + 1,
            last_price_change = NOW(),
            volatility_score = LEAST(COALESCE(volatility_score,50) + 10, 100)
        WHERE external_id = p_external_id;
    ELSE
        -- Gradually decrease volatility score for stable properties
        UPDATE public.scraped_properties 
        SET volatility_score = GREATEST(COALESCE(volatility_score,50) - 1, 0)
        WHERE external_id = p_external_id;
    END IF;
END;
$$;


ALTER FUNCTION "public"."update_scraping_metrics"("p_external_id" character varying, "p_success" boolean, "p_duration" integer, "p_price_changed" boolean) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."ai_results" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "job_id" "uuid",
    "result" "jsonb",
    "model" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."ai_results" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."apartment_iq_data" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "property_id" "uuid",
    "concession_value" integer DEFAULT 0,
    "concession_urgency" "text" DEFAULT 'none'::"text",
    "days_on_market" integer DEFAULT 0,
    "market_position" "text" DEFAULT 'at_market'::"text",
    "percentile_rank" integer,
    "lease_probability" numeric(3,2),
    "negotiation_potential" integer,
    "urgency_score" integer,
    "rent_trend" "text" DEFAULT 'stable'::"text",
    "rent_change_percent" numeric(5,2),
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "apartment_iq_data_concession_urgency_check" CHECK (("concession_urgency" = ANY (ARRAY['none'::"text", 'standard'::"text", 'aggressive'::"text", 'desperate'::"text"]))),
    CONSTRAINT "apartment_iq_data_lease_probability_check" CHECK ((("lease_probability" >= (0)::numeric) AND ("lease_probability" <= (1)::numeric))),
    CONSTRAINT "apartment_iq_data_market_position_check" CHECK (("market_position" = ANY (ARRAY['below_market'::"text", 'at_market'::"text", 'above_market'::"text"]))),
    CONSTRAINT "apartment_iq_data_negotiation_potential_check" CHECK ((("negotiation_potential" >= 1) AND ("negotiation_potential" <= 10))),
    CONSTRAINT "apartment_iq_data_percentile_rank_check" CHECK ((("percentile_rank" >= 1) AND ("percentile_rank" <= 100))),
    CONSTRAINT "apartment_iq_data_rent_trend_check" CHECK (("rent_trend" = ANY (ARRAY['increasing'::"text", 'stable'::"text", 'decreasing'::"text"]))),
    CONSTRAINT "apartment_iq_data_urgency_score_check" CHECK ((("urgency_score" >= 1) AND ("urgency_score" <= 10)))
);


ALTER TABLE "public"."apartment_iq_data" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."apartments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "title" character varying(255) NOT NULL,
    "description" "text",
    "address" "text" NOT NULL,
    "city" character varying(100) NOT NULL,
    "state" character varying(20) NOT NULL,
    "zip_code" character varying(20),
    "bedrooms" integer NOT NULL,
    "bathrooms" numeric(3,1) NOT NULL,
    "square_feet" integer,
    "property_type" character varying(50) DEFAULT 'apartment'::character varying NOT NULL,
    "rent_amount" numeric(10,2) NOT NULL,
    "deposit_amount" numeric(10,2),
    "furnished" boolean DEFAULT false,
    "pets_allowed" boolean DEFAULT false,
    "available_date" "date",
    "is_available" boolean DEFAULT true,
    "contact_name" character varying(100),
    "contact_email" character varying(255),
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "external_id" "text",
    "rent_price" integer,
    "source" "text" DEFAULT 'legacy_migration'::"text",
    "amenities" "jsonb" DEFAULT '[]'::"jsonb",
    "scraped_at" timestamp with time zone,
    "is_active" boolean DEFAULT true,
    "contact_info" "jsonb" DEFAULT '{}'::"jsonb",
    "source_url" "text",
    "source_name" "text",
    "scraping_job_id" bigint,
    "intelligence_confidence" integer,
    "intelligence_source" "text",
    "researched_at" timestamp with time zone,
    "year_built" integer,
    "unit_count" integer,
    "building_type" "text",
    "neighborhood" "text",
    "transit_access" "text",
    "walk_score" integer,
    "free_rent_concessions" "text",
    "application_fee" integer,
    "admin_fee_amount" integer,
    "security_deposit" integer
);


ALTER TABLE "public"."apartments" OWNER TO "postgres";


COMMENT ON COLUMN "public"."apartments"."source_url" IS 'URL of the website where this apartment was found';



COMMENT ON COLUMN "public"."apartments"."source_name" IS 'Human-readable name of the source website';



COMMENT ON COLUMN "public"."apartments"."scraping_job_id" IS 'ID of the scraping_queue job that found this apartment';



COMMENT ON COLUMN "public"."apartments"."intelligence_confidence" IS 'AI confidence score (0-100) for property intelligence data';



COMMENT ON COLUMN "public"."apartments"."intelligence_source" IS 'Source of intelligence data: claude, claude_fallback, manual, etc.';



COMMENT ON COLUMN "public"."apartments"."researched_at" IS 'Timestamp when property was last analyzed by AI';



COMMENT ON COLUMN "public"."apartments"."year_built" IS 'Year the property was constructed';



COMMENT ON COLUMN "public"."apartments"."unit_count" IS 'Total number of units in the property';



COMMENT ON COLUMN "public"."apartments"."building_type" IS 'Type of building: high-rise, mid-rise, garden-style, townhome, etc.';



COMMENT ON COLUMN "public"."apartments"."neighborhood" IS 'Neighborhood name or description';



COMMENT ON COLUMN "public"."apartments"."transit_access" IS 'Description of public transit options';



COMMENT ON COLUMN "public"."apartments"."walk_score" IS 'Walkability score (0-100)';



CREATE TABLE IF NOT EXISTS "public"."market_intelligence" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "location" "text" NOT NULL,
    "average_rent" integer,
    "rent_per_sqft" numeric(10,2),
    "vacancy_rate" numeric(5,2),
    "days_on_market_avg" integer,
    "concession_prevalence" numeric(5,2),
    "rent_trend" "text" DEFAULT 'stable'::"text",
    "rent_change_ytd" numeric(5,2),
    "market_velocity" "text" DEFAULT 'normal'::"text",
    "new_listings_weekly" integer,
    "price_reductions_weekly" integer,
    "leasing_velocity" integer,
    "insights" "jsonb" DEFAULT '{}'::"jsonb",
    "recommendations" "jsonb" DEFAULT '{}'::"jsonb",
    "calculated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "market_intelligence_market_velocity_check" CHECK (("market_velocity" = ANY (ARRAY['hot'::"text", 'normal'::"text", 'slow'::"text", 'stale'::"text"]))),
    CONSTRAINT "market_intelligence_rent_trend_check" CHECK (("rent_trend" = ANY (ARRAY['increasing'::"text", 'stable'::"text", 'decreasing'::"text"])))
);


ALTER TABLE "public"."market_intelligence" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."price_history" (
    "id" bigint NOT NULL,
    "external_id" character varying NOT NULL,
    "price" integer NOT NULL,
    "recorded_at" timestamp with time zone DEFAULT "now"(),
    "change_type" character varying DEFAULT 'scraped'::character varying
);


ALTER TABLE "public"."price_history" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."price_history_backup_pre_enhanced" (
    "id" bigint,
    "external_id" character varying,
    "price" integer,
    "recorded_at" timestamp with time zone,
    "change_type" character varying
);


ALTER TABLE "public"."price_history_backup_pre_enhanced" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."price_history_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."price_history_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."price_history_id_seq" OWNED BY "public"."price_history"."id";



CREATE TABLE IF NOT EXISTS "public"."properties" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "external_id" "text",
    "name" "text" NOT NULL,
    "address" "text" NOT NULL,
    "city" "text" NOT NULL,
    "state" "text" NOT NULL,
    "zip" "text",
    "latitude" numeric(10,8),
    "longitude" numeric(11,8),
    "bedrooms" integer NOT NULL,
    "bathrooms" numeric(3,1) NOT NULL,
    "sqft" integer DEFAULT 0 NOT NULL,
    "year_built" integer,
    "property_type" "text" DEFAULT 'apartment'::"text",
    "original_price" integer NOT NULL,
    "ai_price" integer NOT NULL,
    "effective_price" integer NOT NULL,
    "rent_per_sqft" numeric(10,2),
    "savings" integer DEFAULT 0,
    "match_score" integer,
    "market_velocity" "text" DEFAULT 'normal'::"text",
    "availability" "text",
    "availability_type" "text" DEFAULT 'immediate'::"text",
    "features" "text"[] DEFAULT '{}'::"text"[],
    "amenities" "text"[] DEFAULT '{}'::"text"[],
    "pet_policy" "text",
    "parking" "text",
    "apartment_iq_data" "jsonb" DEFAULT '{}'::"jsonb",
    "is_active" boolean DEFAULT true,
    "source_url" "text",
    "images" "text"[] DEFAULT '{}'::"text"[],
    "last_scraped" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "admin_fee_amount" numeric,
    "admin_fee_waived" boolean,
    CONSTRAINT "properties_availability_type_check" CHECK (("availability_type" = ANY (ARRAY['immediate'::"text", 'soon'::"text", 'waitlist'::"text"]))),
    CONSTRAINT "properties_market_velocity_check" CHECK (("market_velocity" = ANY (ARRAY['hot'::"text", 'normal'::"text", 'slow'::"text", 'stale'::"text"]))),
    CONSTRAINT "properties_match_score_check" CHECK ((("match_score" >= 0) AND ("match_score" <= 100)))
);


ALTER TABLE "public"."properties" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."property_intelligence" (
    "id" bigint NOT NULL,
    "source_url" "text" NOT NULL,
    "property_name" "text" NOT NULL,
    "year_built" integer,
    "unit_count" integer,
    "property_type" "text",
    "building_type" "text",
    "amenities" "text"[],
    "neighborhood" "text",
    "transit_access" "text",
    "walk_score" integer,
    "confidence_score" integer DEFAULT 0,
    "research_timestamp" timestamp with time zone DEFAULT "now"(),
    "research_source" "text" DEFAULT 'claude'::"text",
    "raw_research_data" "jsonb"
);


ALTER TABLE "public"."property_intelligence" OWNER TO "postgres";


COMMENT ON TABLE "public"."property_intelligence" IS 'Detailed property intelligence data from AI analysis';



COMMENT ON COLUMN "public"."property_intelligence"."source_url" IS 'URL of the property listing that was analyzed';



COMMENT ON COLUMN "public"."property_intelligence"."property_name" IS 'Name of the property as found in the listing';



COMMENT ON COLUMN "public"."property_intelligence"."confidence_score" IS 'AI confidence score (0-100) for this analysis';



COMMENT ON COLUMN "public"."property_intelligence"."research_source" IS 'AI service used: claude, openai, etc.';



COMMENT ON COLUMN "public"."property_intelligence"."raw_research_data" IS 'Raw JSON response from AI service for debugging';



CREATE SEQUENCE IF NOT EXISTS "public"."property_intelligence_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."property_intelligence_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."property_intelligence_id_seq" OWNED BY "public"."property_intelligence"."id";



CREATE TABLE IF NOT EXISTS "public"."rental_offers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "property_id" "uuid",
    "offer_amount" integer NOT NULL,
    "proposed_move_in_date" "date",
    "lease_duration" integer,
    "special_requests" "text",
    "status" "text" DEFAULT 'draft'::"text",
    "success_probability" numeric(3,2),
    "negotiation_strategy" "jsonb" DEFAULT '{}'::"jsonb",
    "expected_savings" integer,
    "landlord_response" "text",
    "counter_offer_amount" integer,
    "final_agreement_amount" integer,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "rental_offers_status_check" CHECK (("status" = ANY (ARRAY['draft'::"text", 'submitted'::"text", 'under_review'::"text", 'accepted'::"text", 'rejected'::"text", 'countered'::"text"])))
);


ALTER TABLE "public"."rental_offers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."scrape_jobs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "apartment_url" "text" NOT NULL,
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "attempt_count" integer DEFAULT 0 NOT NULL,
    "payload" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "started_at" timestamp with time zone,
    "finished_at" timestamp with time zone
);


ALTER TABLE "public"."scrape_jobs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."scraped_properties" (
    "id" bigint NOT NULL,
    "property_id" character varying NOT NULL,
    "unit_number" character varying NOT NULL,
    "external_id" character varying GENERATED ALWAYS AS (((("property_id")::"text" || '_'::"text") || ("unit_number")::"text")) STORED,
    "source" character varying NOT NULL,
    "name" character varying NOT NULL,
    "address" character varying NOT NULL,
    "unit" character varying,
    "city" character varying NOT NULL,
    "state" character varying(2) NOT NULL,
    "current_price" integer NOT NULL,
    "bedrooms" integer NOT NULL,
    "bathrooms" numeric(2,1) NOT NULL,
    "square_feet" integer,
    "free_rent_concessions" "text",
    "application_fee" integer,
    "admin_fee_waived" boolean DEFAULT false,
    "admin_fee_amount" integer,
    "security_deposit" integer,
    "first_seen_at" timestamp with time zone DEFAULT "now"(),
    "last_seen_at" timestamp with time zone DEFAULT "now"(),
    "status" character varying DEFAULT 'active'::character varying,
    "listing_url" character varying NOT NULL,
    "scraped_at" timestamp with time zone DEFAULT "now"(),
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "volatility_score" integer DEFAULT 50,
    "price_change_count" integer DEFAULT 0,
    "last_price_change" timestamp with time zone,
    "latitude" numeric(10,8),
    "longitude" numeric(11,8),
    "zip_code" character varying(10),
    "square_footage" integer,
    "amenities" "jsonb",
    "days_on_market" integer,
    "market_velocity" character varying(20),
    "concession_value" integer,
    "concession_type" character varying(50),
    "unit_features" "jsonb" DEFAULT '[]'::"jsonb",
    "pet_policy" character varying(100),
    "parking_info" character varying(100),
    "property_type" character varying(50),
    "ai_price" integer,
    "effective_price" integer,
    "market_position" character varying(20),
    "percentile_rank" integer,
    "ai_provider" "text",
    "ai_raw" "jsonb",
    "ai_provenance" "jsonb"
);


ALTER TABLE "public"."scraped_properties" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."scraped_properties_backup_pre_enhanced" (
    "source" "text",
    "name" "text",
    "address" "text",
    "city" "text",
    "state" character varying(2),
    "current_price" integer,
    "bedrooms" integer,
    "bathrooms" numeric(2,1),
    "listing_url" "text",
    "created_at" timestamp with time zone,
    "id" bigint,
    "free_rent_concessions" "text",
    "application_fee" integer,
    "admin_fee_waived" boolean,
    "admin_fee_amount" integer,
    "scraped_at" timestamp with time zone,
    "last_scraped" timestamp with time zone,
    "updated_at" timestamp with time zone,
    "property_id" character varying,
    "unit_number" character varying,
    "unit" character varying,
    "square_feet" integer,
    "security_deposit" integer,
    "first_seen_at" timestamp with time zone,
    "last_seen_at" timestamp with time zone,
    "status" character varying,
    "external_id" character varying
);


ALTER TABLE "public"."scraped_properties_backup_pre_enhanced" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."scraped_properties_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."scraped_properties_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."scraped_properties_id_seq" OWNED BY "public"."scraped_properties"."id";



CREATE TABLE IF NOT EXISTS "public"."scraping_cache" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "url" "text" NOT NULL,
    "source" character varying NOT NULL,
    "html" "text",
    "etag" character varying,
    "content_hash" character varying,
    "fetched_at" timestamp with time zone DEFAULT "now"(),
    "expires_at" timestamp with time zone
);


ALTER TABLE "public"."scraping_cache" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."scraping_costs" (
    "id" bigint NOT NULL,
    "date" "date" DEFAULT CURRENT_DATE,
    "properties_scraped" integer DEFAULT 0,
    "ai_requests" integer DEFAULT 0,
    "estimated_cost" numeric(10,4) DEFAULT 0,
    "tokens_used" integer DEFAULT 0,
    "details" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."scraping_costs" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."scraping_costs_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."scraping_costs_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."scraping_costs_id_seq" OWNED BY "public"."scraping_costs"."id";



CREATE TABLE IF NOT EXISTS "public"."scraping_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "job_id" "uuid",
    "level" character varying DEFAULT 'info'::character varying NOT NULL,
    "message" "text" NOT NULL,
    "meta" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."scraping_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."scraping_queue" (
    "id" bigint NOT NULL,
    "external_id" character varying NOT NULL,
    "property_id" character varying NOT NULL,
    "unit_number" character varying NOT NULL,
    "url" character varying NOT NULL,
    "source" character varying NOT NULL,
    "status" character varying DEFAULT 'pending'::character varying,
    "priority" integer DEFAULT 1,
    "data" "jsonb",
    "error" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "started_at" timestamp with time zone,
    "completed_at" timestamp with time zone,
    "priority_tier" integer DEFAULT 2,
    "last_change_date" timestamp with time zone,
    "change_frequency" integer,
    "priority_score" integer DEFAULT 50,
    "last_successful_scrape" timestamp with time zone,
    "scrape_attempts" integer DEFAULT 0,
    "success_rate" numeric(3,2) DEFAULT 1.0,
    "avg_scrape_duration" integer
);


ALTER TABLE "public"."scraping_queue" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."scraping_queue_backup_pre_enhanced" (
    "id" "uuid",
    "external_id" character varying,
    "source" character varying,
    "url" "text",
    "status" character varying,
    "attempt_count" integer,
    "scheduled_at" timestamp with time zone,
    "available_at" timestamp with time zone,
    "payload" "jsonb",
    "created_at" timestamp with time zone,
    "started_at" timestamp with time zone,
    "finished_at" timestamp with time zone,
    "property_id" character varying,
    "unit_number" character varying,
    "priority" integer,
    "data" "jsonb",
    "error" "text",
    "completed_at" timestamp with time zone
);


ALTER TABLE "public"."scraping_queue_backup_pre_enhanced" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."scraping_queue_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."scraping_queue_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."scraping_queue_id_seq" OWNED BY "public"."scraping_queue"."id";



CREATE OR REPLACE VIEW "public"."scraping_queue_prioritized" AS
 SELECT "sq"."id",
    "sq"."external_id",
    "sq"."property_id",
    "sq"."unit_number",
    "sq"."url",
    "sq"."source",
    "sq"."status",
    "sq"."priority",
    "sq"."data",
    "sq"."error",
    "sq"."created_at",
    "sq"."started_at",
    "sq"."completed_at",
    "sq"."priority_tier",
    "sq"."last_change_date",
    "sq"."change_frequency",
    "sq"."priority_score",
    "sq"."last_successful_scrape",
    "sq"."scrape_attempts",
    "sq"."success_rate",
    "sq"."avg_scrape_duration",
    COALESCE("sp"."volatility_score", 50) AS "volatility_score",
    COALESCE("sp"."price_change_count", 0) AS "price_change_count",
    "sp"."last_price_change",
    COALESCE(("floor"((EXTRACT(epoch FROM ("now"() - "sq"."last_successful_scrape")) / (86400)::numeric)))::integer, 99) AS "days_since_last_scrape",
    "public"."calculate_priority_score"("sq"."property_id", COALESCE(("floor"((EXTRACT(epoch FROM ("now"() - "sq"."last_successful_scrape")) / (86400)::numeric)))::integer, 99), COALESCE("sp"."volatility_score", 50), COALESCE("sq"."success_rate", 1.0), COALESCE("sq"."scrape_attempts", 0)) AS "calculated_score"
   FROM ("public"."scraping_queue" "sq"
     LEFT JOIN "public"."scraped_properties" "sp" ON ((("sq"."external_id")::"text" = ("sp"."external_id")::"text")))
  WHERE (("sq"."status")::"text" = 'pending'::"text");


ALTER VIEW "public"."scraping_queue_prioritized" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."sources" (
    "id" integer NOT NULL,
    "name" "text" NOT NULL,
    "url" "text" NOT NULL,
    "priority" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "website_type" "text",
    "scraping_strategy" "text",
    "last_scraping_success" boolean DEFAULT false,
    CONSTRAINT "sources_priority_check" CHECK (("priority" = ANY (ARRAY['Low'::"text", 'Medium'::"text", 'High'::"text"])))
);


ALTER TABLE "public"."sources" OWNER TO "postgres";


COMMENT ON COLUMN "public"."sources"."website_type" IS 'Type of real estate website: property_marketing, listing_aggregator, property_manager, brokerage, unknown';



COMMENT ON COLUMN "public"."sources"."scraping_strategy" IS 'Scraping approach to use: property_marketing, listing_aggregator, property_manager, generic';



COMMENT ON COLUMN "public"."sources"."last_scraping_success" IS 'Whether the last scraping attempt was successful';



CREATE SEQUENCE IF NOT EXISTS "public"."sources_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."sources_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."sources_id_seq" OWNED BY "public"."sources"."id";



CREATE TABLE IF NOT EXISTS "public"."user_activities" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "activity_type" "text" NOT NULL,
    "page_name" "text",
    "component_name" "text",
    "action_details" "jsonb",
    "metadata" "jsonb",
    "created_at" timestamp without time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_activities" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_preferences" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "email_notifications" boolean DEFAULT true,
    "push_notifications" boolean DEFAULT true,
    "sms_notifications" boolean DEFAULT false,
    "marketing_emails" boolean DEFAULT false,
    "default_location" character varying(255),
    "default_radius_km" integer DEFAULT 10,
    "max_price_range" integer,
    "min_price_range" integer,
    "preferred_bedrooms" integer[],
    "preferred_bathrooms" integer[],
    "preferred_property_types" character varying(50)[],
    "language" character varying(10) DEFAULT 'en'::character varying,
    "currency" character varying(3) DEFAULT 'USD'::character varying,
    "timezone" character varying(50) DEFAULT 'UTC'::character varying,
    "theme" character varying(20) DEFAULT 'light'::character varying,
    "profile_visibility" character varying(20) DEFAULT 'private'::character varying,
    "allow_contact" boolean DEFAULT true,
    "show_online_status" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "user_preferences_currency_check" CHECK ((("currency")::"text" = ANY ((ARRAY['USD'::character varying, 'EUR'::character varying, 'GBP'::character varying, 'CAD'::character varying, 'AUD'::character varying, 'JPY'::character varying, 'CNY'::character varying, 'INR'::character varying])::"text"[]))),
    CONSTRAINT "user_preferences_language_check" CHECK ((("language")::"text" = ANY ((ARRAY['en'::character varying, 'es'::character varying, 'fr'::character varying, 'de'::character varying, 'it'::character varying, 'pt'::character varying, 'ja'::character varying, 'zh'::character varying, 'ko'::character varying, 'ar'::character varying])::"text"[]))),
    CONSTRAINT "user_preferences_price_check" CHECK ((("max_price_range" IS NULL) OR ("min_price_range" IS NULL) OR ("max_price_range" >= "min_price_range"))),
    CONSTRAINT "user_preferences_radius_check" CHECK ((("default_radius_km" > 0) AND ("default_radius_km" <= 100))),
    CONSTRAINT "user_preferences_theme_check" CHECK ((("theme")::"text" = ANY ((ARRAY['light'::character varying, 'dark'::character varying, 'auto'::character varying])::"text"[]))),
    CONSTRAINT "user_preferences_visibility_check" CHECK ((("profile_visibility")::"text" = ANY ((ARRAY['public'::character varying, 'private'::character varying, 'friends'::character varying])::"text"[])))
);


ALTER TABLE "public"."user_preferences" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_profiles" (
    "user_id" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "location" "text",
    "bedrooms" "text",
    "budget" integer,
    "max_budget" integer,
    "work_address" "text",
    "max_commute" integer DEFAULT 30,
    "transportation" "text",
    "preferred_amenities" "text"[] DEFAULT '{}'::"text"[],
    "deal_breakers" "text"[] DEFAULT '{}'::"text"[],
    "priorities" "text"[] DEFAULT '{}'::"text"[],
    "ai_preferences" "jsonb" DEFAULT '{}'::"jsonb",
    "search_criteria" "jsonb" DEFAULT '{}'::"jsonb",
    "gross_income" integer,
    "credit_score" "text",
    "move_timeline" "text",
    "lease_duration" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "email" "text" NOT NULL,
    "full_name" "text",
    "avatar_url" "text",
    "phone" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."users" OWNER TO "postgres";


ALTER TABLE ONLY "public"."price_history" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."price_history_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."property_intelligence" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."property_intelligence_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."scraped_properties" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."scraped_properties_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."scraping_costs" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."scraping_costs_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."scraping_queue" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."scraping_queue_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."sources" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."sources_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."ai_results"
    ADD CONSTRAINT "ai_results_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."apartment_iq_data"
    ADD CONSTRAINT "apartment_iq_data_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."apartments"
    ADD CONSTRAINT "apartments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."market_intelligence"
    ADD CONSTRAINT "market_intelligence_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."price_history"
    ADD CONSTRAINT "price_history_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."properties"
    ADD CONSTRAINT "properties_external_id_key" UNIQUE ("external_id");



ALTER TABLE ONLY "public"."properties"
    ADD CONSTRAINT "properties_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."property_intelligence"
    ADD CONSTRAINT "property_intelligence_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."property_intelligence"
    ADD CONSTRAINT "property_intelligence_source_url_key" UNIQUE ("source_url");



ALTER TABLE ONLY "public"."rental_offers"
    ADD CONSTRAINT "rental_offers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."scrape_jobs"
    ADD CONSTRAINT "scrape_jobs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."scraped_properties"
    ADD CONSTRAINT "scraped_properties_external_id_key" UNIQUE ("external_id");



ALTER TABLE ONLY "public"."scraped_properties"
    ADD CONSTRAINT "scraped_properties_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."scraping_cache"
    ADD CONSTRAINT "scraping_cache_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."scraping_cache"
    ADD CONSTRAINT "scraping_cache_url_key" UNIQUE ("url");



ALTER TABLE ONLY "public"."scraping_costs"
    ADD CONSTRAINT "scraping_costs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."scraping_logs"
    ADD CONSTRAINT "scraping_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."scraping_queue"
    ADD CONSTRAINT "scraping_queue_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."sources"
    ADD CONSTRAINT "sources_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."sources"
    ADD CONSTRAINT "sources_url_key" UNIQUE ("url");



ALTER TABLE ONLY "public"."user_activities"
    ADD CONSTRAINT "user_activities_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_preferences"
    ADD CONSTRAINT "user_preferences_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_preferences"
    ADD CONSTRAINT "user_preferences_user_id_unique" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_pkey" PRIMARY KEY ("user_id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



CREATE UNIQUE INDEX "apartments_external_id_key" ON "public"."apartments" USING "btree" ("external_id");



CREATE INDEX "idx_apartments_intelligence_confidence" ON "public"."apartments" USING "btree" ("intelligence_confidence");



CREATE INDEX "idx_apartments_intelligence_source" ON "public"."apartments" USING "btree" ("intelligence_source");



CREATE INDEX "idx_apartments_researched_at" ON "public"."apartments" USING "btree" ("researched_at");



CREATE INDEX "idx_apartments_source_url" ON "public"."apartments" USING "btree" ("source_url");



CREATE INDEX "idx_price_history_external_id" ON "public"."price_history" USING "btree" ("external_id", "recorded_at");



CREATE INDEX "idx_price_history_tracking" ON "public"."price_history" USING "btree" ("external_id", "recorded_at");



CREATE INDEX "idx_properties_active" ON "public"."properties" USING "btree" ("is_active") WHERE ("is_active" = true);



CREATE INDEX "idx_properties_bedrooms" ON "public"."properties" USING "btree" ("bedrooms");



CREATE INDEX "idx_properties_coordinates" ON "public"."properties" USING "btree" ("latitude", "longitude") WHERE (("latitude" IS NOT NULL) AND ("longitude" IS NOT NULL));



CREATE INDEX "idx_properties_location" ON "public"."properties" USING "btree" ("city", "state");



CREATE INDEX "idx_properties_market_velocity" ON "public"."properties" USING "btree" ("market_velocity");



CREATE INDEX "idx_properties_match_score" ON "public"."properties" USING "btree" ("match_score" DESC) WHERE ("match_score" IS NOT NULL);



CREATE INDEX "idx_properties_price_range" ON "public"."properties" USING "btree" ("original_price", "effective_price");



CREATE INDEX "idx_property_intelligence_confidence" ON "public"."property_intelligence" USING "btree" ("confidence_score");



CREATE INDEX "idx_property_intelligence_url" ON "public"."property_intelligence" USING "btree" ("source_url");



CREATE INDEX "idx_queue_priority" ON "public"."scraping_queue" USING "btree" ("priority", "status");



CREATE INDEX "idx_queue_schedule_priority_tier" ON "public"."scraping_queue" USING "btree" ("priority_tier", "status", "created_at");



CREATE INDEX "idx_scraped_properties_amenities" ON "public"."scraped_properties" USING "gin" ("amenities");



CREATE INDEX "idx_scraped_properties_coordinates" ON "public"."scraped_properties" USING "gist" ("point"(("longitude")::double precision, ("latitude")::double precision));



CREATE INDEX "idx_scraped_properties_days_market" ON "public"."scraped_properties" USING "btree" ("first_seen_at", "last_seen_at");



CREATE INDEX "idx_scraped_properties_market" ON "public"."scraped_properties" USING "btree" ("days_on_market", "market_velocity");



CREATE INDEX "idx_scraped_properties_percentile_rank" ON "public"."scraped_properties" USING "btree" ("percentile_rank");



CREATE UNIQUE INDEX "idx_scraped_properties_prop_unit_unique" ON "public"."scraped_properties" USING "btree" ("property_id", "unit_number");



CREATE INDEX "idx_scraped_properties_unit_features" ON "public"."scraped_properties" USING "gin" ("unit_features");



CREATE INDEX "idx_scraped_properties_unit_lookup" ON "public"."scraped_properties" USING "btree" ("property_id", "unit_number");



CREATE INDEX "idx_scraping_cache_fetched_at" ON "public"."scraping_cache" USING "btree" ("fetched_at");



CREATE UNIQUE INDEX "idx_scraping_costs_date" ON "public"."scraping_costs" USING "btree" ("date");



CREATE INDEX "idx_scraping_logs_job_id" ON "public"."scraping_logs" USING "btree" ("job_id");



CREATE INDEX "idx_sources_scraping_strategy" ON "public"."sources" USING "btree" ("scraping_strategy");



CREATE INDEX "idx_sources_website_type" ON "public"."sources" USING "btree" ("website_type");



CREATE INDEX "idx_user_preferences_default_location" ON "public"."user_preferences" USING "btree" ("default_location");



CREATE INDEX "idx_user_preferences_user_id" ON "public"."user_preferences" USING "btree" ("user_id");



CREATE INDEX "idx_users_created_at" ON "public"."users" USING "btree" ("created_at");



CREATE INDEX "idx_users_email" ON "public"."users" USING "btree" ("email");



CREATE OR REPLACE TRIGGER "trg_price_history_on_change" AFTER INSERT OR UPDATE OF "current_price" ON "public"."scraped_properties" FOR EACH ROW EXECUTE FUNCTION "public"."price_history_record_change"();



CREATE OR REPLACE TRIGGER "update_sources_updated_at" BEFORE UPDATE ON "public"."sources" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_user_preferences_updated_at" BEFORE UPDATE ON "public"."user_preferences" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_users_updated_at" BEFORE UPDATE ON "public"."users" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."ai_results"
    ADD CONSTRAINT "ai_results_job_id_fkey" FOREIGN KEY ("job_id") REFERENCES "public"."scrape_jobs"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."apartment_iq_data"
    ADD CONSTRAINT "apartment_iq_data_property_id_fkey" FOREIGN KEY ("property_id") REFERENCES "public"."properties"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."rental_offers"
    ADD CONSTRAINT "rental_offers_property_id_fkey" FOREIGN KEY ("property_id") REFERENCES "public"."properties"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_preferences"
    ADD CONSTRAINT "user_preferences_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Activities are user-specific" ON "public"."user_activities" USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Anyone can read active properties" ON "public"."properties" FOR SELECT USING (("is_active" = true));



CREATE POLICY "Anyone can read apartment IQ data" ON "public"."apartment_iq_data" FOR SELECT USING (true);



CREATE POLICY "Anyone can read market intelligence" ON "public"."market_intelligence" FOR SELECT USING (true);



CREATE POLICY "Service role can do anything" ON "public"."sources" USING (("auth"."role"() = 'service_role'::"text"));



ALTER TABLE "public"."apartment_iq_data" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."market_intelligence" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."properties" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."rental_offers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."sources" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_activities" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_profiles" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."calculate_priority_score"("p_property_id" character varying, "p_days_since_last_scrape" integer, "p_volatility_score" integer, "p_success_rate" numeric, "p_scrape_attempts" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."calculate_priority_score"("p_property_id" character varying, "p_days_since_last_scrape" integer, "p_volatility_score" integer, "p_success_rate" numeric, "p_scrape_attempts" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."calculate_priority_score"("p_property_id" character varying, "p_days_since_last_scrape" integer, "p_volatility_score" integer, "p_success_rate" numeric, "p_scrape_attempts" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."export_user_data"("p_user_id" "uuid", "p_export_type" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."export_user_data"("p_user_id" "uuid", "p_export_type" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."export_user_data"("p_user_id" "uuid", "p_export_type" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_next_scraping_batch"("batch_size" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."get_next_scraping_batch"("batch_size" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_next_scraping_batch"("batch_size" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."has_property_changed"("old_data" "jsonb", "new_data" "jsonb", "significant_fields" "text"[]) TO "anon";
GRANT ALL ON FUNCTION "public"."has_property_changed"("old_data" "jsonb", "new_data" "jsonb", "significant_fields" "text"[]) TO "authenticated";
GRANT ALL ON FUNCTION "public"."has_property_changed"("old_data" "jsonb", "new_data" "jsonb", "significant_fields" "text"[]) TO "service_role";



GRANT ALL ON FUNCTION "public"."has_property_changed_default"("old_data" "jsonb", "new_data" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."has_property_changed_default"("old_data" "jsonb", "new_data" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."has_property_changed_default"("old_data" "jsonb", "new_data" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."price_history_record_change"() TO "anon";
GRANT ALL ON FUNCTION "public"."price_history_record_change"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."price_history_record_change"() TO "service_role";



GRANT ALL ON FUNCTION "public"."rpc_bulk_upsert_properties"("p_rows" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."rpc_bulk_upsert_properties"("p_rows" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."rpc_bulk_upsert_properties"("p_rows" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."rpc_bulk_upsert_properties_v2"("p_rows" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."rpc_bulk_upsert_properties_v2"("p_rows" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."rpc_bulk_upsert_properties_v2"("p_rows" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."rpc_compute_percentile"("p_external_id" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."rpc_compute_percentile"("p_external_id" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."rpc_compute_percentile"("p_external_id" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."rpc_inc_scraping_costs"("p_date" "date", "p_properties_scraped" integer, "p_ai_requests" integer, "p_tokens_used" bigint, "p_estimated_cost" numeric, "p_details" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."rpc_inc_scraping_costs"("p_date" "date", "p_properties_scraped" integer, "p_ai_requests" integer, "p_tokens_used" bigint, "p_estimated_cost" numeric, "p_details" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."rpc_inc_scraping_costs"("p_date" "date", "p_properties_scraped" integer, "p_ai_requests" integer, "p_tokens_used" bigint, "p_estimated_cost" numeric, "p_details" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."rpc_merge_apartments_to_scraped_v1"("p_rows" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."rpc_merge_apartments_to_scraped_v1"("p_rows" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."rpc_merge_apartments_to_scraped_v1"("p_rows" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."rpc_update_property_with_history"("p_external_id" "text", "p_payload" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."rpc_update_property_with_history"("p_external_id" "text", "p_payload" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."rpc_update_property_with_history"("p_external_id" "text", "p_payload" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."search_apartments"("p_city" character varying, "p_state" character varying, "p_rent_min" numeric, "p_rent_max" numeric, "p_bedrooms" integer[]) TO "anon";
GRANT ALL ON FUNCTION "public"."search_apartments"("p_city" character varying, "p_state" character varying, "p_rent_min" numeric, "p_rent_max" numeric, "p_bedrooms" integer[]) TO "authenticated";
GRANT ALL ON FUNCTION "public"."search_apartments"("p_city" character varying, "p_state" character varying, "p_rent_min" numeric, "p_rent_max" numeric, "p_bedrooms" integer[]) TO "service_role";



GRANT ALL ON FUNCTION "public"."search_properties_near_location"("lat" numeric, "lng" numeric, "radius_km" integer, "min_bedrooms" integer, "max_bedrooms" integer, "min_price" integer, "max_price" integer, "user_id_param" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."search_properties_near_location"("lat" numeric, "lng" numeric, "radius_km" integer, "min_bedrooms" integer, "max_bedrooms" integer, "min_price" integer, "max_price" integer, "user_id_param" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."search_properties_near_location"("lat" numeric, "lng" numeric, "radius_km" integer, "min_bedrooms" integer, "max_bedrooms" integer, "min_price" integer, "max_price" integer, "user_id_param" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."touch_scraped_properties"() TO "anon";
GRANT ALL ON FUNCTION "public"."touch_scraped_properties"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."touch_scraped_properties"() TO "service_role";



GRANT ALL ON FUNCTION "public"."transform_scraped_to_properties"() TO "anon";
GRANT ALL ON FUNCTION "public"."transform_scraped_to_properties"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."transform_scraped_to_properties"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_days_on_market"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_days_on_market"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_days_on_market"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_scraping_metrics"("p_external_id" character varying, "p_success" boolean, "p_duration" integer, "p_price_changed" boolean) TO "anon";
GRANT ALL ON FUNCTION "public"."update_scraping_metrics"("p_external_id" character varying, "p_success" boolean, "p_duration" integer, "p_price_changed" boolean) TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_scraping_metrics"("p_external_id" character varying, "p_success" boolean, "p_duration" integer, "p_price_changed" boolean) TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";



GRANT ALL ON TABLE "public"."ai_results" TO "anon";
GRANT ALL ON TABLE "public"."ai_results" TO "authenticated";
GRANT ALL ON TABLE "public"."ai_results" TO "service_role";



GRANT ALL ON TABLE "public"."apartment_iq_data" TO "anon";
GRANT ALL ON TABLE "public"."apartment_iq_data" TO "authenticated";
GRANT ALL ON TABLE "public"."apartment_iq_data" TO "service_role";



GRANT ALL ON TABLE "public"."apartments" TO "anon";
GRANT ALL ON TABLE "public"."apartments" TO "authenticated";
GRANT ALL ON TABLE "public"."apartments" TO "service_role";



GRANT ALL ON TABLE "public"."market_intelligence" TO "anon";
GRANT ALL ON TABLE "public"."market_intelligence" TO "authenticated";
GRANT ALL ON TABLE "public"."market_intelligence" TO "service_role";



GRANT ALL ON TABLE "public"."price_history" TO "anon";
GRANT ALL ON TABLE "public"."price_history" TO "authenticated";
GRANT ALL ON TABLE "public"."price_history" TO "service_role";



GRANT ALL ON TABLE "public"."price_history_backup_pre_enhanced" TO "anon";
GRANT ALL ON TABLE "public"."price_history_backup_pre_enhanced" TO "authenticated";
GRANT ALL ON TABLE "public"."price_history_backup_pre_enhanced" TO "service_role";



GRANT ALL ON SEQUENCE "public"."price_history_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."price_history_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."price_history_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."properties" TO "anon";
GRANT ALL ON TABLE "public"."properties" TO "authenticated";
GRANT ALL ON TABLE "public"."properties" TO "service_role";



GRANT ALL ON TABLE "public"."property_intelligence" TO "anon";
GRANT ALL ON TABLE "public"."property_intelligence" TO "authenticated";
GRANT ALL ON TABLE "public"."property_intelligence" TO "service_role";



GRANT ALL ON SEQUENCE "public"."property_intelligence_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."property_intelligence_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."property_intelligence_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."rental_offers" TO "anon";
GRANT ALL ON TABLE "public"."rental_offers" TO "authenticated";
GRANT ALL ON TABLE "public"."rental_offers" TO "service_role";



GRANT ALL ON TABLE "public"."scrape_jobs" TO "anon";
GRANT ALL ON TABLE "public"."scrape_jobs" TO "authenticated";
GRANT ALL ON TABLE "public"."scrape_jobs" TO "service_role";



GRANT ALL ON TABLE "public"."scraped_properties" TO "anon";
GRANT ALL ON TABLE "public"."scraped_properties" TO "authenticated";
GRANT ALL ON TABLE "public"."scraped_properties" TO "service_role";



GRANT ALL ON TABLE "public"."scraped_properties_backup_pre_enhanced" TO "anon";
GRANT ALL ON TABLE "public"."scraped_properties_backup_pre_enhanced" TO "authenticated";
GRANT ALL ON TABLE "public"."scraped_properties_backup_pre_enhanced" TO "service_role";



GRANT ALL ON SEQUENCE "public"."scraped_properties_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."scraped_properties_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."scraped_properties_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."scraping_cache" TO "anon";
GRANT ALL ON TABLE "public"."scraping_cache" TO "authenticated";
GRANT ALL ON TABLE "public"."scraping_cache" TO "service_role";



GRANT ALL ON TABLE "public"."scraping_costs" TO "anon";
GRANT ALL ON TABLE "public"."scraping_costs" TO "authenticated";
GRANT ALL ON TABLE "public"."scraping_costs" TO "service_role";



GRANT ALL ON SEQUENCE "public"."scraping_costs_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."scraping_costs_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."scraping_costs_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."scraping_logs" TO "anon";
GRANT ALL ON TABLE "public"."scraping_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."scraping_logs" TO "service_role";



GRANT ALL ON TABLE "public"."scraping_queue" TO "anon";
GRANT ALL ON TABLE "public"."scraping_queue" TO "authenticated";
GRANT ALL ON TABLE "public"."scraping_queue" TO "service_role";



GRANT ALL ON TABLE "public"."scraping_queue_backup_pre_enhanced" TO "anon";
GRANT ALL ON TABLE "public"."scraping_queue_backup_pre_enhanced" TO "authenticated";
GRANT ALL ON TABLE "public"."scraping_queue_backup_pre_enhanced" TO "service_role";



GRANT ALL ON SEQUENCE "public"."scraping_queue_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."scraping_queue_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."scraping_queue_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."scraping_queue_prioritized" TO "anon";
GRANT ALL ON TABLE "public"."scraping_queue_prioritized" TO "authenticated";
GRANT ALL ON TABLE "public"."scraping_queue_prioritized" TO "service_role";



GRANT ALL ON TABLE "public"."sources" TO "anon";
GRANT ALL ON TABLE "public"."sources" TO "authenticated";
GRANT ALL ON TABLE "public"."sources" TO "service_role";



GRANT ALL ON SEQUENCE "public"."sources_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."sources_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."sources_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."user_activities" TO "anon";
GRANT ALL ON TABLE "public"."user_activities" TO "authenticated";
GRANT ALL ON TABLE "public"."user_activities" TO "service_role";



GRANT ALL ON TABLE "public"."user_preferences" TO "anon";
GRANT ALL ON TABLE "public"."user_preferences" TO "authenticated";
GRANT ALL ON TABLE "public"."user_preferences" TO "service_role";



GRANT ALL ON TABLE "public"."user_profiles" TO "anon";
GRANT ALL ON TABLE "public"."user_profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."user_profiles" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";






\unrestrict hosOEPhHm8aEjVlpWohmLA7l2jyp1NCo9dngPBwmx7FniNrjE87mivMl4QNofon

RESET ALL;
